body {
    background-image: url(../images/plane-clouds.jpg);
    background-size: cover;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    flex: 1;
    color: rgb(28, 139, 28);
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 20px;
    border-width: 5px;
    margin-left: 600px;
    margin-right: 600px;
    padding: auto;
    margin-bottom: auto;
}   
    
.company-title {    
    font-size: 60px;
    font-style: italic;
    margin-bottom: 10px;
}

.company-sub-title {
    font-size: 40px;
    margin-top: 10px;
}

.destinations-table {
    display: inline-flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-style: solid;
    border-radius: 20px;
    border-width: 5px;
    margin-top: 40px;
}

.destinations {
    font-size: 30px;
}

.germany {
    font-size: 20px;
}