.heading {
    text-align: center;
    font-size: 60px;
}

.plane-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.germany {
    text-align: center;
    font-size: 30px;
}