* {
    border: solid 1px redr;
}

.germany-flag {
    height: 100px;
    width: 2000px;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}

.heading {
    font-size: 50px;
    font-weight: 1000;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.marienplatz {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.marienplatz-alt {
    font-size: xx-small;
    text-align: center;
}