* {
    border: solid 1px red;
}

body {
    background-color: antiquewhite;
}

.country-banner {
    display: flex;
    justify-content: center;
}

img {
    width: 90%;
    height: 300px;
}

 banner-caption {
    position: absolute;
    text-align: center;
    top: 100px;
    color: white;
    font-weight: bolder;
    font-size: 100px;
}

.country-about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    background-color: white;
    border-color: black;
    border-width: 5px;
    border-radius: 20px;
    margin-right: 70%;
    margin-left: 4%;
    padding: 10px;
}

.about {
    font-size: 40px;
    font-weight: 600;
}

.country-description {
    font-size: 20px;
}